@font-face {
  font-family: "CascadiaCode";
  src: url("../fonts/CascadiaCode.woff2") format("woff2");
  font-weight: 200 700;
  font-style: normal;
}

$family: 'CascadiaCode';
$lightest-weight: 200;
$medium-weight: 455;
$heaviest-weight: 700;

